<footer>
  <div class="container">
    <nav aria-label="footer">
      <ul class="nav-footer">
        <li>
          <a href="/">
            <img
              class="footer-logo"
              src="/images/global/logos/desktop-nav-logo.svg"
              alt="SHEMA logo"
            />
          </a>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/why-jewish-context/">Why Jewish Context</a></li>
        <li><a href="/explore/">Explore</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/support/">Support</a></li>
        <li><a href="/faq/">FAQ</a></li>
      </ul>
    </nav>
  </div>
  <p class="xsmall" role="contentinfo">
    © SHEMA — A project by Rooted In Love Outreach | Built for the One I
    love—with all my heart, all my soul, and all my might.
  </p>
</footer>
<script defer src="/js/nav.js"></script>
