<footer>
  <div class="container">
    <nav aria-label="footer">
      <ul class="nav-footer">
        <li>
          <a href="index.html">
            <img
              class="footer-logo"
              src="/images/global/logos/desktop-nav-logo.svg"
              alt="SHEMA logo"
            />
          </a>
        </li>
        <li><a href="/index.html" class="active">Home</a></li>
        <li><a href="/why-jewish-context.html">Why Jewish Context</a></li>
        <li><a href="/explore.html">Explore</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/support.html">Support</a></li>
        <li><a href="/faq.html">FAQ</a></li>
      </ul>
    </nav>
  </div>
  <p class="xsmall" role="contentinfo">
    © SHEMA — A project by Rooted In Love Outreach | Built for the One I
    love—with all my heart, all my soul, and all my might.
  </p>
</footer>
