/* Nav links */
footer {
  width: auto;
  padding: 3rem 0.5rem 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
  background-color: var(--color-black);
  border-top: 1px solid #dc9949;
}

.nav-footer {
  display: flex;
  max-width: 60rem;
  justify-content: space-evenly;
  justify-items: center;
  list-style: none;
  margin: 0 auto 3rem;
  padding: 0;
}

.footer-logo {
  height: 1.5rem;
  flex-shrink: 0;
}

footer li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 300;
  white-space: nowrap;
}

.nav-footer a.active {
  color: var(--color-text-faded);
  font-size: .75rem;;
}

p.xsmall {
  color: var(--color-text-faded);
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
}

@media (max-width: 480px) {
  footer {
    width: auto;
    padding: 3rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    border-top: 1px solid #dc9949;
    text-align: center;
  }

  .footer-logo {
    height: 1.75rem;
    margin-bottom: 1rem;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    max-width: 500px;
    min-width: 375;
  }

  p.xsmall {
    color: var(--color-text-faded);
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
  }
}
